* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: #333;
}

h2 {
    line-height: 2;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

ul.publications li {
    padding: 15px 20px;
    margin:  0.5ex 0;
    background-color: #f7f7f7;
    border-radius: 6px;
    border-left: 4px solid #4ae;
    font-weight: 500;
    color: #333;
}

ul.publications li b {
    font-weight: 1000;
}

/* Utility classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    background: #4ae;
    margin:
}
